<% provide(:title, "Details") %>
<div class="surprise-hogan">
  <h1>MAIN EVENT DETAILS </h1>
  <div class="row">
    <div class="col-md-12 col-xs-12 text-center">
      <h3>7:00PM</h3>
      <br/>
      <h3>Saturday, March 12th, 2016</h3>
      <br/>
      <h3>209 Highpointe Crescent</h3>
      (See Map Below)
      <br/>
      <br/>
      <h4>BYOB, see the <%= link_to "Food & Drink",   menu_path %> menu for more details</h4>
      <br/>
      <h4>Planning to drink or ending up concussed in the ring?
      <br/>
      <%= link_to "Take Uber!", "https://www.uber.com/invite/nathanielw636ue", :target=>"_blank" %></h4>
      <br/>
      <h5>(New users can get 15$ off their first ride with that link )</h5>
      <br/><br/><br/>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6795.780721671415!2d-75.72908878345909!3d45.275098154060736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccdfd299cad23cd%3A0x42edb756f7f2bd99!2s209+Highpointe+Crescent%2C+Nepean%2C+ON+K2J+5N9!5e1!3m2!1sen!2sca!4v1455835593827" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <h3>Additional Transportation Details</h3>
      <br/>
      <h4>Plenty of street parking available</h4>
      <h4>OC Transpo 176 stops @ the house</h4>
      {Stop Schedules}
      <br/>
      <%= link_to "STRANDHERD / BEATRICE (1098)", "http://www.octranspo1.com/travelplanner/stop?stop=1098&day=20160218&rangeIndex=0", :target=>"_blank" %>
      <br/>
      <%= link_to "BEATRICE / CLEARBROOK (0661)", "http://www.octranspo1.com/travelplanner/stop?check1=on&lang=en&stop=0661&day=20160218&rangeIndex=0&site=OC+Transpo&accessible=false&bicycles=false&continue=Continue", :target=>"_blank" %>
    </div>
  </div>
</div>
