<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
          <h3>Looks like someone wants to meet the pythons!</h3>
          <br />
          <h4>Quit messin' around and fix this mess, brother:</h4>
          <br />
          <% count = 0 %>
          <% object.errors.full_messages.each do |msg| %>
            <% count+=1 %>
            <%= count %>. <%= msg %><br/>
          <% end %>
    </div>
  </div>
<% end %>
