

<%= link_to image_tag("hulkicon.png", alt: "Hulk Icon", class: "footer_img"),
            'http://www.hulkhogan.com/', target: "_blank" %>
<footer class="footer">
  <small>
    I FEAR NO MAN, NO BEAST OR EVIL, BROTHER
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact",   contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
